*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stile della testata */

header{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #000000;
}

.bottom_head{
    display: inline-block;
    background-color: #4A4A4A;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 10px;
   
}



/* stile del corpo pagina */

main{
    width: 100vw;
    height: calc( 100vh - 200px);
     /* debug */
    background-color: yellow;
}

/* stile del footer e del menu */

footer{
  height: 100px;
  /* debug */
  background-color: blue;
}